.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
}
button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    position: absolute;
    top: 50%;
    border: none;
    border-radius: 4px;
    right: 30px;
    transform: translateY(-50%);
}
button:hover {
    opacity: 0.9;
}
.locations,
.amenities {
    display: inline-block;
    height: 100%;
    width: 25%;
    text-align: left;
    line-height: .5rem;
}
.locations {
    position: absolute;
    left: 30px;
    border-right: 1px solid #ddd;
}
.amenities {
    position: absolute;
    left: 30%;
    padding-left: 10px;
}
.locations h3,
.amenities h3 {
    font-weight: 600;
}
.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
}